footer.footer
  .container
    .row
      .col-8
        span © 2022 KirimAja-stip by <a href="https://kirimaja.id/" target="_blank">KirimAja</a>
      .col-4
        .call-center
          a(href="https://wa.me/62811-9766-554")
            .icon.icon_wa
            span Call Center
