header#header.header.product_head
  .product_head-wrap
    .container
      .row.justify-content-between
        .col
          a.button_back(href="home.html") Back
        .col
          .button_cart
            .button_cart-qty
              span 0
            a(href="cart.html")
              img(src="images/ic-cart.svg", alt="ic")
